.action-button {
    width: 24px;
    height: 24px;

    &:hover {
        color: var(--primary-color-navy-blue);
    }
}

.submit-button {
    background: var(--primary-color-envitect-sam-blue);
    color: var(--primary-color-white);
}
